h1{
    color:black;
    text-align: center;
    font-size: 30px;
    background-color: silver;
    border-style: solid;
    border-color:black;
}
.dropdownmenu{
    background-color:black;
    color:White;
    border-style: groove;
    border-color: black;
    text-align: left;
}
.content{
    background-color: grey;
    color:white;
    border-style: groove;
    border-color: black;
    text-align: left;
}
html{
    background-color:silver;
}
.sub-title{
    text-align: center;
    font-size: 25px;
    font: bold;
    text-decoration: underline;
    padding-bottom:1em;
    font-weight: bold;
    color:white;
}
.html-format{
text-align: center;
text-decoration: underline;
font-weight: bold;
color: white;


}
.css-format{
text-align: center;
text-decoration: underline;
color: white;
font-weight: bold;
padding-top: 10px;
}
.javascript-format{
text-align: center;
text-decoration: underline;
font-weight: bold; 
padding-top:10px;
color: white;
}
.button-html {
    background-color:  black;
    border: 5px solid silver;
    border-radius: 3px;
    color:white;
    font-size: 10px;
    display:block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
.button-css{
    background-color:  black;
    border: 5px solid silver;
    border-radius: 3px;
    color:white;
    font-size: 10px;
    display:block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
.button-javascript{
    background-color:  black;
    border: 5px solid silver;
    border-radius: 3px;
    color:white;
    font-size: 10px;
    display:block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
body{
    background-image: url("./images/background.jpg");
    height: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
