h1{
    color:black;
    text-align: center;
    font-size: 30px;
    background-color: silver;
}
.dropdownmenu{
    background-color:black;
    color:White;
}
.content{
    background-color: grey;
    color:white;
}
html{
    background-color:red;
}